<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Keep the ¢hange - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/css1.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">$</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Log in</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Log in</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text"> Keep the ¢hange </h1>
      <div class="row center">
        <h5 class="header col s12 light">The ultimate college anti-splurge app</h5>
      </div>

    <div id="piechart_3d" style="width: 900px; height: 500px;">
      </div>

<div id="table_div"></div>
      <div class="float right">
        <a href="http://materializecss.com/getting-started.html" id="save-button" class="btn-large waves-effect waves-light green">Save
         </a>
</div>
      <div class="float right">
        <div class="float right">  <button data-target="modal2" class="btn-large waves-effect waves-light green">Build your budget</button> </div>

       <div class="float right">  <button data-target="modal1" class="btn-large waves-effect waves-light green">Add</button> </div>
      <br><br>
  <div id = "modal2" class = "modal" style="width:500px">
    <div class = "modal-content" style="height:360px">
      <form id ="form2" style="width:400px">
        Total Budget = <input name = "total" type="text" id ="total_input"style="width:100px">$
        <br>
        Food = <input name ="food" type="number" id="food_input" style="width:100px">%
        <br>
        Textbooks = <input name ="textbooks" type="number" id="textbooks_input" style="width:100px">%    <!-- Modal Trigger -->
        <br>
        Electronics = <input name ="electronics" type="number" id="electronics_input" style="width:100px">%
        <br>
        Clothing = <input name ="clothing" type="number" id="clothing_input" style="width:100px">%
        <br>
        Misc = <input name ="misc" type="number" id="misc_input" style="width:100px">%
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action  waves-effect waves-green btn-flat" onclick="updatePieChart()">Add</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal"style="width:500px">
    <div class="modal-content" style="height:360px">
      <form id="form1" style="width:400px">
        Date: <input name = "date" type = "date" id="date_input">
        Company: <input name = "company" type = "text" id="company_input">
        Category:<input type="text" list="cars" id="category_input"/style="width:400px">
<datalist id="cars">
  <option>Food</option>
  <option>Textbooks</option>
  <option>Electronics</option>
  <option>Clothing</option>
  <option>Misc</option>
</datalist>
        Cost: <input name = "cost" type = "number" id="cost_input">
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action  waves-effect waves-green btn-flat" onclick="updateChart()">Add</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

    </div>

  </div>


  <div class="container">
    <div class="section">



    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer light-green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">The evolving issue of controlling the seductive nature of getting everything you want shipped in 2 days via amazon.com</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>






<!--  Scripts-->




<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDn8TqMjW0dZZ8iPutojhs6pI810yXo3MA",
    authDomain: "keep-the-change.firebaseapp.com",
    databaseURL: "https://keep-the-change.firebaseio.com",
    storageBucket: "keep-the-change.appspot.com",
    messagingSenderId: "906391668000"
  };
  firebase.initializeApp(config);
</script>

  <script src="/static/js/materialize.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-database.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

 <script src="/static/js/jsfile.js"></script>


    </body>
</html>
